
	  	<link href="css/font-awesome.css" type="text/css" rel="stylesheet">
		<style type="text/css">
			.row.heads{ text-align: center; }
			
			.sociallinks a {
				margin-left: 10px;
			}
			.sociallinks {
				float: right;
			}
			.social_solid:hover i {
				color: rgb(255, 255, 255);
			}
			.social_solid:hover {
				background: rgb(255, 255, 255);
			}
			
			.fa {font-size: 21px;}
			.social_solid {
				border-radius: 60px; 
				width: 36px; 
				height: 36px; 
				text-align: center; 
				display: inline-block; 
				position: relative;
				transition: border-color .2s ease-in, color .1s ease-in, background .2s ease-in; 
				-webkit-transition: border-color .2s ease-in, color .1s ease-in, background .2s ease-in; 
				-moz-transition: border-color .2s ease-in, color .1s ease-in, background .2s ease-in; 
				-o-transition: border-color .2s ease-in, color .1s ease-in, background .2s ease-in; 
				-webkit-border-radius: 60px; 
				-moz-border-radius: 60px; 
				-ms-border-radius: 60px; 
				-o-border-radius: 60px;
			}
			.social_solid i {
				vertical-align: 5px;
			}
			.twitter.social_solid {
				background: rgb(85, 172, 238);
			}
			.twitter.social_solid i {
				color: rgb(255, 255, 255);
			}
			.facebook.social_solid {
				background: rgb(59, 89, 152);
			}
			.facebook.social_solid i {
				color: rgb(255, 255, 255);
			}
			.link.social_solid {
				background: rgb(102, 204, 0);
			}
			.link.social_solid i {
				color: rgb(255, 255, 255);
			}
			.linkedin.social_solid {
				background: rgb(51,102,153);
			}
			.linkedin.social_solid i {
				color: rgb(255, 255, 255);
				vertical-align: 7px;
			}
			
			.link.social_solid:hover i,
			.linkedin.social_solid:hover i,
			.twitter.social_solid:hover i,
			.facebook.social_solid:hover i {
				color: rgb(48, 48, 48);
			}
			
			.sociallinks.head {
				font-size: 12px;
				float:none;
			}
		</style>
		
<div class="container"> 
	
	<div class="page-header">
	    <h1>Team4Talent 
	        <small>specialized in Microsoft .NET</small>
	  	<div class="sociallinks">
					<a href="https://twitter.com/team4talent" target="_blank" class="social social_solid twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://www.facebook.com/pages/Team4Talent/109480869122907" target="_blank" class="social social_solid facebook"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/groups?gid=3540399" target="_blank" class="social social_solid linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="http://www.team4talent.be" target="_blank" class="social social_solid link"><i class="fa fa-external-link"></i></a>
			</div>
		</h1>
	</div>
	<div class="row">
		<p>T4T was founded by technical people: .NET consultants and .NET software developers started the company and make the difference every day again and again. We are a spin-off from Talent-IT and an independent part of the Harvey Nash group which gives us a firm backbone and a significant advantage.</p>
	
		<p>T4T is an IT company with a strong focus on HR: for us our people are our most important asset. That's why we put so much effort into training, coaching and entertaining our consultants. We detest the standard bodyshopping attitude in the IT world and treat employees and freelancers alike, this way we offer a truly motivating environment for our people and create an enormous added value for our customers.</p>
	
		<p>T4T offers dedicated services in a single technical domain: we excel in temporary or permanent staffing, consulting, specialized classes and software projects based on Microsoft .NET (ASP.NET MVC, Webforms/ASP.NET, Winforms, WPF, Silverlight, Sharepoint, SQL Server, Azure, etc...) with technical skills ranging from (agile!) management to architecture to development and support. </p>
	</div>
	<div class="row">

	</div>
	<br/>
	<br/>
	<br/>
	<div class="row heads">
	  <div class="col-md-4">
	  	<img width="140" height="140" src="img/timsommer.jpg" alt="" class="img-circle">
	  	<h3>Tim Sommer<br/>
	  		<p class="badge">Competence Manager</p>
	  	</h3>
	  	<p>
	  		<div class="sociallinks head">
	  			<a href="mailto:Tim.Sommer@Team4Talent.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
					<a href="https://twitter.com/sommertim" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/timsommer" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/timsommer" target="_blank" class="social"><i class="fa fa-github"></i></a>
					<a href="http://blog.timsommer.be" target="_blank" class="social"><i class="fa fa-html5"></i></a>
				</div>
	  	</p>
	 	</div>
	  <div class="col-md-4">
	  	<img width="140" height="140" src="img/bartvanherck.jpg" alt="" class="img-circle">
	  	<p>
	  		<h3>Bart Van Herck<br/>
	  			<span class="badge">Account Manager</span>
	  		</h3>
	  	</p>
	  	<p>
	  	Tel: 03/294.17.41<br/>
			Direct: 03/294.17.42<br/>
			Mobile: 0494/72.64.84<br/>
			
			<div class="sociallinks head">
					<a href="mailto:bart.vanherck@team4talent.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
					<a href="https://twitter.com/VanHerckBart" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
					<a href="https://be.linkedin.com/in/bartvanherck" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
				</div>
	  	</p>
	  </div>
	  <div class="col-md-4">
	  	<img width="140" height="140" src="img/jorisbrauns.jpg" alt="" class="img-circle">
	  	<h3>Joris Brauns<br/>
	  		<span class="badge">.NET Consultant</span>
	  	</h3>
	  	<p>
	  		
	  		<div class="sociallinks head">
	  			<a href="mailto:joris.brauns@team4talent.be" target="_blank" class="social"><i class="fa fa-envelope"></i></a>
					<a href="https://twitter.com/jorisbrauns" target="_blank" class="social"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/brauns" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/jorisbrauns" target="_blank" class="social"><i class="fa fa-github"></i></a>
					<a href="http://blog.jorisbrauns.be" target="_blank" class="social"><i class="fa fa-html5"></i></a>
				</div>
	  	</p>
	  </div>
	</div>
</div> 