body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}
.pagination {
    margin: 0 0 20px 0;
}
.error-messages {
    /*transition: 1s linear all;*/
    transition-property: background-color;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.error-messages.ng-active {
  background:maroon;
  color:white;
  padding:5px;
  border-radius:5px;
  margin-top:5px;
  position:relative;
}
.error-messages.ng-active:after {
  position:absolute;
  top:-10px;
  content:"";
  left:20px;
  border-style:solid;
  border-color:transparent transparent maroon;
  border-width:5px;
}